.all{
  background: linear-gradient(to bottom right, #bbe1ee, #4198c3, #5291bc);
  font-family: "Roboto";
}
.weather-app-wrapper {
  max-width: 900px;
  margin: 40px auto;
}
.all {
  color: white;
  position: relative;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 15px 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 60px;
}

h1 {
  font-size: 60px;
  font-style: italic;
  float: inline-start;
}

h3 {
  font-style: italic;
}
h2 {
  font-size: 30px;
  font-style: bold;
  float: inline-start;
}
ul {
  margin:0;
  padding: 0;
}
li {
  list-style: none;
  margin:0;
  padding: 0;
}
.temperature {
  position: relative;
  font-size: 60px;
}
.row-wind {
  padding: 50px;
  position: relative;
  font-size: 25px;
  float: right;
}
.date {
  font-size: 25px;
}
.text
 {
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid black;
  padding: 14px 20px;
  line-height: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.submit,
.btn {
  margin: 20px;
  border-radius: 25px;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  padding: 14px 20px;
  line-height: 10px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  float: inline-start;
}
.submit:hover,
.btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #bbe1ee, #4198c3, #5291bc);
  color: white;
}
div {
  text-align: center;
  position: relative;
  color: white;
  font-style: italic;
  margin: 15px 15px 15px 15px;
}
.all:hover {
  background: linear-gradient(to bottom right, #bbe1ee, #4198c3, #5291bc);
}
.units {
  position: relative;
  top: -34px;
  line-height: 1;
  font-weight: 400;
  font-size: 15px;
}
small {
  color: black;
}
.weather-forecast {
  margin-top: 20px;
  text-align:center;
  color:black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px; 
}